In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv('SYNTHETIC_Markdown_Dataset.csv')

In [21]:
df.head()

,Product_ID,Category,Brand,Season,Product_Name,Original_Price,Competitor_Price,Seasonality_Factor,Markdown_1,Markdown_2,...,Historical_Sales,Sales_After_M1,Sales_After_M2,Sales_After_M3,Sales_After_M4,Stock_Level,Promotion_Type,Customer Ratings,Return Rate,Optimal Discount
0,1,Skincare,BrandA,Summer,Sunscreen,70.39,70.98,1.71,0.31,0.49,...,344,404,540,650,979,183,In-Store,4.9,1.97,0.36
1,2,Skincare,BrandB,Rainy,Eye Cream,55.35,56.58,0.85,0.39,0.21,...,98,107,116,118,143,142,Online,4.0,2.57,0.29
2,3,Skincare,BrandA,Spring,Face Mist,26.16,28.54,1.03,0.17,0.43,...,72,72,87,84,84,112,Social Media,2.3,4.64,0.33
3,4,Bodycare,BrandD,Winter,Shower Gel,99.34,98.57,1.91,0.20,0.21,...,243,281,316,361,539,57,In-Store,4.9,1.42,0.25
4,5,Skincare,BrandA,Winter,Peeling Gel,60.33,61.05,1.65,0.14,0.20,...,251,289,325,402,534,125,In-Store,4.6,1.36,0.23

In [90]:
df.tail()

,Product_ID,Category,Brand,Season,Product_Name,Original_Price,Competitor_Price,Seasonality_Factor,Markdown_1,Markdown_2,...,Historical_Sales,Sales_After_M1,Sales_After_M2,Sales_After_M3,Sales_After_M4,Stock_Level,Promotion_Type,Customer Ratings,Return Rate,Optimal Discount
43745,39541,Skincare,BrandF,Summer,Face Toner,51.71,54.51,1.58,0.22,0.33,...,79,91,117,142,208,130,In-Store,4.7,1.69,0.30
43746,18153,Skincare,BrandA,Spring,Hydrating Mask,25.62,26.40,1.17,0.21,0.40,...,140,141,132,139,152,158,Social Media,4.4,2.34,0.32
43747,14665,Bodycare,BrandA,Rainy,Body Balm,49.31,49.58,1.09,0.13,0.34,...,126,144,178,202,249,180,Online,4.7,1.52,0.26
43748,7290,Bodycare,BrandB,Spring,Body Powder,5.79,4.85,0.87,0.10,0.24,...,94,94,103,100,108,97,Social Media,4.4,3.16,0.25
43749,27552,Makeup,BrandB,Spring,Lipstick,39.26,40.65,1.54,0.16,0.22,...,117,129,159,181,274,87,In-Store,4.9,1.67,0.28

In [92]:
df.shape

(43750, 22)

In [94]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43750 entries, 0 to 43749
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Product_ID          43750 non-null  int64
 1   Category            43750 non-null  object
 2   Brand               43750 non-null  object
 3   Season              43750 non-null  object
 4   Product_Name        43750 non-null  object
 5   Original_Price      43750 non-null  float64
 6   Competitor_Price    43750 non-null  float64
 7   Seasonality_Factor  43750 non-null  float64
 8   Markdown_1          43750 non-null  float64
 9   Markdown_2          43750 non-null  float64
 10  Markdown_3          43750 non-null  float64
 11  Markdown_4          43750 non-null  float64
 12  Historical_Sales    43750 non-null  int64
 13  Sales_After_M1      43750 non-null  int64
 14  Sales_After_M2      43750 non-null  int64
 15  Sales_After_M3      43750 non-null  int64
 16  Sales_After_M4      43750 non-null  int64
 17  Stock_Level         43750 non-null  int64
 18  Promotion_Type      43750 non-null  object
 19  Customer Ratings    43750 non-null  float64
 20  Return Rate         43750 non-null  float64
 21  Optimal Discount    43750 non-null  float64
dtypes: float64(10), int64(7), object(5)
memory usage: 7.3+ MB

In [106]:
df.describe().round()

,Product_ID,Original_Price,Competitor_Price,Seasonality_Factor,Markdown_1,Markdown_2,Markdown_3,Markdown_4,Historical_Sales,Sales_After_M1,Sales_After_M2,Sales_After_M3,Sales_After_M4,Stock_Level,Customer Ratings,Return Rate,Optimal Discount
count,43750.0,43750.0,43750.0,43750.0,43750.0,43750.0,43750.0,43750.0,43750.0,43750.0,43750.0,43750.0,43750.0,43750.0,43750.0,43750.0,43750.0
mean,21706.0,53.0,54.0,1.0,0.0,0.0,0.0,0.0,172.0,201.0,250.0,287.0,371.0,125.0,4.0,2.0,0.0
std,12527.0,28.0,28.0,0.0,0.0,0.0,0.0,0.0,89.0,112.0,153.0,184.0,258.0,43.0,1.0,1.0,0.0
min,1.0,5.0,4.0,0.0,0.0,0.0,0.0,0.0,26.0,26.0,25.0,26.0,25.0,50.0,2.0,1.0,0.0
25%,10863.0,29.0,30.0,1.0,0.0,0.0,0.0,0.0,101.0,113.0,128.0,137.0,152.0,88.0,4.0,1.0,0.0
50%,21706.0,53.0,54.0,2.0,0.0,0.0,0.0,0.0,154.0,175.0,210.0,236.0,299.0,124.0,5.0,2.0,0.0
75%,32551.0,77.0,78.0,2.0,0.0,0.0,0.0,0.0,233.0,276.0,357.0,415.0,555.0,162.0,5.0,3.0,0.0
max,43400.0,100.0,103.0,2.0,0.0,0.0,0.0,0.0,416.0,579.0,844.0,1114.0,1535.0,200.0,5.0,6.0,0.0

In [98]:
df.isnull().sum()

Product_ID            0
Category              0
Brand                 0
Season                0
Product_Name          0
Original_Price        0
Competitor_Price      0
Seasonality_Factor    0
Markdown_1            0
Markdown_2            0
Markdown_3            0
Markdown_4            0
Historical_Sales      0
Sales_After_M1        0
Sales_After_M2        0
Sales_After_M3        0
Sales_After_M4        0
Stock_Level           0
Promotion_Type        0
Customer Ratings      0
Return Rate           0
Optimal Discount      0
dtype: int64

In [100]:
df.duplicated().sum()

350

In [104]:
df_clean = df.drop_duplicates()

print('Before removing:', len(df))
print('After removing:', len(df_clean))
print('Total values removed:', len(df) - len(df_clean))

Before removing: 43750
After removing: 43400
Total values removed: 350

In [132]:
df[['Category','Product_Name']].value_counts()

Category  Product_Name
Skincare  Vitamin C Serum         1085
          Anti-Aging Cream        1084
          Pore Minimizer          1077
          Face Toner              1075
          Face Serum              1067
          Hydrating Serum         1065
          Acne Treatment Gel      1051
          Sunscreen               1037
          Facial Essence          1037
          Eye Cream               1031
          Face Mist               1027
          Makeup Remover          1020
          Hydrating Mask          1017
          Face Oil                1014
          Brightening Cream       1012
          Peeling Gel             1006
          Night Cream             1004
          Exfoliating Scrub        995
          Facial Cleanser          977
Bodycare  Deodorant                698
          Body Wash                696
          Shaving Gel              691
          After-Sun Lotion         682
          Body Scrub               674
          Anti-Cellulite Cream     671
          Foot Cream               670
          Body Lotion              664
          Body Cream               662
          Body Balm                662
          Stretch Mark Cream       653
          Exfoliating Gloves       645
          Shower Gel               645
          Foot Scrub               643
          Hand Cream               641
          Body Oil                 640
          Body Butter              630
          Body Mist                628
          Bath Salts               625
          Body Powder              614
Makeup    Eyebrow Pencil           582
          Concealer                582
          Lip Gloss                575
          Setting Powder           574
          Makeup Primer            574
          Foundation               564
          Matte Lipstick           550
          Lipstick                 549
          Highlighter              544
          Lip Liner                542
          Mascara                  541
          Contour Kit              540
          Eyeshadow Palette        534
          Liquid Eyeliner          533
          Eyeliner                 533
          Bronzer                  529
          CC Cream                 524
          Setting Spray            524
          BB Cream                 523
          Blush                    518
Name: count, dtype: int64

In [5]:
df[(df['Category'] == 'Skincare') & (df['Brand'] == 'BrandA') & (df['Promotion_Type'] == 'In-Store')]

,Product_ID,Category,Brand,Season,Product_Name,Original_Price,Competitor_Price,Seasonality_Factor,Markdown_1,Markdown_2,...,Historical_Sales,Sales_After_M1,Sales_After_M2,Sales_After_M3,Sales_After_M4,Stock_Level,Promotion_Type,Customer Ratings,Return Rate,Optimal Discount
0,1,Skincare,BrandA,Summer,Sunscreen,70.39,70.98,1.71,0.31,0.49,...,344,404,540,650,979,183,In-Store,4.9,1.97,0.36
4,5,Skincare,BrandA,Winter,Peeling Gel,60.33,61.05,1.65,0.14,0.20,...,251,289,325,402,534,125,In-Store,4.6,1.36,0.23
35,36,Skincare,BrandA,Summer,Acne Treatment Gel,79.11,80.61,1.56,0.34,0.34,...,228,316,375,442,629,166,In-Store,4.7,1.82,0.34
128,129,Skincare,BrandA,Rainy,Hydrating Serum,56.77,56.69,0.65,0.14,0.39,...,109,114,130,136,146,107,In-Store,4.4,2.52,0.24
131,132,Skincare,BrandA,Spring,Face Serum,52.71,55.01,0.50,0.39,0.35,...,32,37,41,45,47,57,In-Store,2.3,4.09,0.34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43561,23701,Skincare,BrandA,Winter,Face Oil,88.74,90.92,1.94,0.34,0.30,...,400,523,645,768,1012,116,In-Store,4.6,1.42,0.34
43623,35828,Skincare,BrandA,Winter,Hydrating Serum,60.07,60.89,1.66,0.28,0.42,...,206,257,330,405,606,169,In-Store,4.7,1.34,0.33
43728,25254,Skincare,BrandA,Winter,Facial Essence,43.59,46.14,1.72,0.40,0.30,...,339,501,599,690,878,128,In-Store,4.8,1.36,0.34
43732,42626,Skincare,BrandA,Rainy,Acne Treatment Gel,33.98,34.57,0.83,0.28,0.46,...,164,157,149,150,141,87,In-Store,3.6,3.65,0.32
43744,19453,Skincare,BrandA,Spring,Anti-Aging Cream,32.94,35.60,0.64,0.35,0.43,...,96,100,119,122,127,99,In-Store,3.9,3.45,0.32

In [138]:
df.groupby('Brand')['Original_Price'].sum().round()

Brand
BrandA    381763.0
BrandB    382048.0
BrandC    387109.0
BrandD    389462.0
BrandE    376986.0
BrandF    386503.0
Name: Original_Price, dtype: float64

In [142]:
df.groupby('Category')[['Original_Price','Competitor_Price']].sum()

          Original_Price  Competitor_Price
Category
Bodycare       691866.02         704918.66
Makeup         576360.52         587020.79
Skincare      1035644.83        1055187.25

In [164]:
Mark_d = ['Markdown_1' , 'Markdown_2' , 'Markdown_3', 'Markdown_4']

total_sum = df[Mark_d].sum()

In [166]:
total_sum

Markdown_1    10964.64
Markdown_2    15317.19
Markdown_3     8742.73
Markdown_4    17504.24
dtype: float64

In [168]:
Sales = ['Sales_After_M1', 'Sales_After_M2', 'Sales_After_M3', 'Sales_After_M4']

total_sales = df[Sales].sum()

In [170]:
total_sales

Sales_After_M1     8799970
Sales_After_M2    10952983
Sales_After_M3    12534971
Sales_After_M4    16212232
dtype: int64

In [27]:
# Adding a new column that shows the total values of markdowns 

df['Total_markdown']= df[['Markdown_1', 'Markdown_2', 'Markdown_3', 'Markdown_4' ]].sum(axis=1)

In [31]:
# Creating a new column named 'total sales after' to show the total sales after values

df['Total_sales_after'] = df[['Sales_After_M1', 'Sales_After_M2', 'Sales_After_M3', 'Sales_After_M4']].sum(axis=1)

In [33]:
df.head()

,Product_ID,Category,Brand,Season,Product_Name,Original_Price,Competitor_Price,Seasonality_Factor,Markdown_1,Markdown_2,...,Sales_After_M2,Sales_After_M3,Sales_After_M4,Stock_Level,Promotion_Type,Customer Ratings,Return Rate,Optimal Discount,Total_markdown,Total_sales_after
0,1,Skincare,BrandA,Summer,Sunscreen,70.39,70.98,1.71,0.31,0.49,...,540,650,979,183,In-Store,4.9,1.97,0.36,1.46,2573
1,2,Skincare,BrandB,Rainy,Eye Cream,55.35,56.58,0.85,0.39,0.21,...,116,118,143,142,Online,4.0,2.57,0.29,1.16,484
2,3,Skincare,BrandA,Spring,Face Mist,26.16,28.54,1.03,0.17,0.43,...,87,84,84,112,Social Media,2.3,4.64,0.33,1.33,327
3,4,Bodycare,BrandD,Winter,Shower Gel,99.34,98.57,1.91,0.20,0.21,...,316,361,539,57,In-Store,4.9,1.42,0.25,1.01,1497
4,5,Skincare,BrandA,Winter,Peeling Gel,60.33,61.05,1.65,0.14,0.20,...,325,402,534,125,In-Store,4.6,1.36,0.23,0.91,1550

In [45]:
df.groupby('Category')[['Total_markdown', 'Total_sales_after']].sum()

          Total_markdown  Total_sales_after
Category
Bodycare        15752.13           14966898
Makeup          13136.59           12552904
Skincare        23640.08           20980354